<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Short Link Service</div>

          <div class="card-body">
            Amazing short link service. Just enter your link.
          </div>

          <div class="p-3">
            <div v-show="shortLink" class="alert alert-success" role="alert">
              Your link successfully created: <span> {{ shortLink}}</span>
            </div>

            <div v-show="error" class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            <div class="form-group">
              <label class="mb-2" for="exampleInputEmail1">Your link</label>
              <input v-model="link" type="text" class="form-control mb-2" id="link"
                     placeholder="Enter link">
            </div>
            <button @click="generate" class="btn btn-primary">Generate</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      link: null,
      shortLink: null,
      error: null,
    }
  },
  mounted() {
    console.log('Component mounted.')
  },
  methods: {
    generate() {
      this.shortLink = null;
      this.error = null;

      axios.post('/api/link', {link: this.link}).then((response) => {
        this.shortLink = response.data.data.short_link;
      }).catch((error) => {
        this.error = error.response.data.message;
      })
    }
  }
}
</script>
<style>
.form-group {
  margin-bottom: 1rem;
}
</style>
